.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header > img {
  border-radius: 5px;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu li {
  display: inline-block;
  position: relative;
}

.menu li:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: var(--cor-0);
  transition: 0.3s;
  position: absolute;
}

.menu li:hover:after {
  width: 100%;
}

@media (max-width: 600px) {
  .header > img {
    width: 40px;
    height: 40px;
  }
  .menu {
    gap: 20px;
  }
  .menu li {
    font-size: 1rem;
  }
}
